@import "tailwindcss";

@theme inline {
  /* Typography */
  --font-main: var(--font-inika);

  /* Brand Colors */
  --color-navbar: #005b96;
  --color-footer: #ffff91;
  --color-main: #ffff91;
  --color-secondary: #005b96;

  /* Background & Text */
  --color-background: #ffffff;
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;

  /* Button */
  --color-button-active: #ffff91;
  --color-button-disabled: #005b96;
  --color-button-hover: #FFE24B;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
